<div class="profile-container">
  <div class="cyber-card">
    <h2>CONFIGURACIÓN DE CUENTA</h2>
    
    <div class="avatar-section">
      <img [src]="user.avatar" class="big-avatar">
      <button class="change-avatar-btn">CAMBIAR AVATAR</button>
    </div>

    <form (ngSubmit)="updateProfile()">
      <div class="input-group">
        <label>NOMBRE DE USUARIO</label>
        <input type="text" [(ngModel)]="user.username" name="username" class="native-input">
      </div>

      <div class="input-group">
        <label>CORREO ELECTRÓNICO</label>
        <input type="email" [(ngModel)]="user.email" name="email" class="native-input" disabled style="opacity: 0.5;">
      </div>

      <button type="submit" class="save-btn">GUARDAR CAMBIOS</button>
    </form>
  </div>
</div>