<div class="container">
  <div class="cyber-panel">
    <div class="panel-header">
      <h2>NEON LEAGUE 2077</h2>
      <div class="tabs">
        <span class="tab active">GENERAL</span>
      </div>
    </div>

    <div class="table-container">
      <table class="cyber-table">
        <thead>
          <tr>
            <th>POS</th>
            <th class="text-left">CLUB</th>
            <th>PJ</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th class="pts">PTS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of standings; let i = index" [class.top-tier]="i < 4">
            <td>
              <div class="rank-box" [ngClass]="{'gold': i===0, 'silver': i===1, 'bronze': i===2}">
                {{ i + 1 }}
              </div>
            </td>
            <td class="team-cell">
              <div class="shield-circle" (click)="goToTeamDetail(team.name, $event)">
                <img [src]="team.badge || 'assets/default-shield.png'" class="mini-logo-img">
              </div>
              <span class="t-name">{{ team.name }}</span>
            </td>
            <td>{{ team.pj }}</td> <td>{{ team.pg }}</td> <td>{{ team.pe }}</td> <td>{{ team.pp }}</td> <td class="points">{{ team.pts }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>