<ion-content [fullscreen]="true">
  <div class="split-pane">
    
    <div class="left-side ion-hide-md-down">
      <div class="brand-content">
        <h1>APUEST<span class="highlight">EITOR</span></h1>
        <p>EL FUTURO DEL JUEGO</p>
        <div class="divider"></div>
        <small>Algoritmos cuánticos a tu servicio.</small>
      </div>
    </div>

    <div class="right-side">
      <div class="auth-card">
        
        <div class="logo-header"></div>
        <h2>Iniciar Sesión</h2>

        <form (ngSubmit)="onLogin()">
          
          <ion-item lines="none" class="cyber-item">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-input 
              label="Correo Electrónico" 
              labelPlacement="stacked" 
              type="email" 
              [(ngModel)]="loginData.email" 
              name="email" 
              placeholder="usuario@email.com">
            </ion-input>
          </ion-item>

          <ion-item lines="none" class="cyber-item">
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
            <ion-input 
              label="Contraseña" 
              labelPlacement="stacked" 
              [type]="showPassword ? 'text' : 'password'" 
              [(ngModel)]="loginData.password" 
              name="password" 
              placeholder="........">
            </ion-input>
            <ion-icon 
              slot="end" 
              [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" 
              (click)="showPassword = !showPassword"
              class="eye-icon">
            </ion-icon>
          </ion-item>

          <ion-button expand="block" type="submit" class="cyber-btn">
            INICIAR SESIÓN
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>

          <div class="footer-text">
            ¿No tienes acceso? <a routerLink="/register">Crear cuenta nueva</a>
          </div>

        </form>
      </div>
    </div>

  </div>
</ion-content>