/* Variables Globales de Tema */
:root {
  /* Azul Eléctrico (Primary) */
  --ion-color-primary: #2f80ed;
  --ion-color-primary-rgb: 47, 128, 237;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #2970d1;
  --ion-color-primary-tint: #448ded;

  /* Fondo Oscuro Cyber */
  --ion-background-color: #060910;
  --ion-background-color-rgb: 6, 9, 16;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  /* Card Background */
  --ion-card-background: #0f1525;
}

/* Ajustes para modo oscuro automático */
@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #060910;
    --ion-card-background: #0f1525;
  }
}