<div class="ranking-wrapper">
  
  <h1 class="page-title">HALL OF FAME</h1>
  <p class="subtitle">RANKING ÉLITE</p>

  <div class="podium-container" *ngIf="top3.length > 0">
    
    <div class="podium-spot second" *ngIf="top3[1]">
      <div class="avatar-ring silver">
        <img [src]="top3[1].avatar" alt="P2">
        <div class="badge">#2</div>
      </div>
      <h3>{{ top3[1].username }}</h3>
      <p>{{ top3[1].points | number }} PTS</p>
      <div class="pillar silver-pillar"></div>
    </div>

    <div class="podium-spot first" *ngIf="top3[0]">
      <ion-icon name="trophy" class="crown"></ion-icon>
      <div class="avatar-ring gold">
        <img [src]="top3[0].avatar" alt="P1">
        <div class="badge">#1</div>
      </div>
      <h3 class="highlight-user">{{ top3[0].username }}</h3>
      <p class="highlight-pts">{{ top3[0].points | number }} PTS</p>
      <div class="pillar gold-pillar"></div>
    </div>

    <div class="podium-spot third" *ngIf="top3[2]">
      <div class="avatar-ring bronze">
        <img [src]="top3[2].avatar" alt="P3">
        <div class="badge">#3</div>
      </div>
      <h3>{{ top3[2].username }}</h3>
      <p>{{ top3[2].points | number }} PTS</p>
      <div class="pillar bronze-pillar"></div>
    </div>

  </div>

  <div class="list-container">
    <div class="rank-item" *ngFor="let user of rest; let i = index">
      <span class="rank-num">{{ i + 4 }}</span>
      
      <div class="user-info">
        <img [src]="user.avatar" class="small-avatar">
        <span class="username">{{ user.username }}</span>
      </div>
      
      <span class="score">{{ user.points | number }}</span>
    </div>
  </div>

</div>